.squareButton {
    width: 100px;
    height: 100px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .5s;
    border: none;
    position: relative;

    &:hover {
        background-color: lightblue;
    }
}

.borderBottom {
    border-bottom: 1px solid black;
}

.borderLeft {
    border-left: 1px solid black;
}


.crossLine {
    height: 100%;
    width: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    background-color: black;
}

.horizontal {
    transform: translate(-50%, -50%) rotate(90deg);;
}

.leftDiagonal {
    transform: translate(-50%, -50%) rotate(45deg);
}

.rightDiagonal {
    transform: translate(-50%, -50%) rotate(-45deg);
}
