.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
}


